#certificados {
  padding: 60px 0; 
    margin: 0 auto;
  }
  
  .titulo-certificado {
    text-align: center; 
    margin-bottom: 30px; 
  }
  
  .card-certificado {
    max-width: 760px; 
    margin: 0 auto; 
    padding: 20px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: #171717;
  }
  
  .img-certificado {
    width: 100%; 
    height: auto; 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 0 auto;
  }
  
  .slick-dots li button:before {
    color: #494335; 
  }

  .slick-slide {
    transition: opacity 0.5s ease;
}

.slick-slide.slick-current {
    opacity: 1;
}

.slick-slide:not(.slick-current) {
    opacity: 0.5;
}

  
  @media (max-width: 695px) {
    .img-certificado {
      height: 250px; 
      width: auto; 
    }
  }
  
  @media (max-width: 525px) {
    .img-certificado {
      height: 200px; 
      width: auto; 
    }
  }
  